{{template "base" .}}

{{define "title"}}
    Contact
{{end}}

{{define "css"}}
{{end}}

{{define "content"}}
    <section Main class="d-flex flex-column vh-100">
        <div class="container flex-grow-1 d-flex flex-column">

            <div class="row">
                <div class="col">
                    <h1 class="text-center mt-4">This Will be the About Page</h1>
                </div>
            </div>

            <div class="spacer flex-grow-1">
                <!-- Occupy all the space left -->
            </div>

        </div>
    </section>
{{end}}