{{template "base" .}}

{{define "title"}}
    General's Quarters
{{end}}

{{define "css"}}
{{end}}

{{define "content"}}
    <section Main>
        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mx-auto d-block">
                    <img src="/static/images/generals-quarters.png" class="img-fluid img-thumbnail" alt="Room Image"/>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <h1 class="text-center mt-4">General's Quarters</h1>
                    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde quia dignissimos, animi magnam itaque dolore tempore rem, quibusdam provident deserunt, assumenda quo maiores! Reiciendis in iure, ullam praesentium nam officia? Amet consectetur adipisicing elit. Fugit facilis saepe recusandae vitae officia consectetur quod ad placeat, dolorum, voluptates sunt velit quae, doloremque enim eos deserunt in expedita quia.</p>
                </div>
            </div>

            <div class="row">
                <div class="col text-center">
                    <a id="checkAvailabityBtn" href="#!" class="btn btn-success mb-4">Check Availability</a>
                </div>
            </div>

        </div>

    </section>
{{end}}

{{define "js"}}
    <script>
        document.getElementById("checkAvailabityBtn").addEventListener("click", function(){
            let html = `
                <style>
                    .swal2-popup .swal2-html-container {
                        overflow: hidden;
                    }
                    .swal2-actions {
                        z-index: 0;
                    }
                </style>
                <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
                    <div class="row" id="reservation-dates-modal">

                        <div class="col">
                            <div class="form-group mb-3">
                                <input disabled required class="form-control" type="text" id="start" name="start" placeholder="Arrival">
                            </div>
                        </div>
                        
                        <div class="col">
                            <div class="form-group mb-3">
                                <input disabled required class="form-control" type="text" id="end" name="end" placeholder="Departure">
                            </div>
                        </div>

                    </div>
                </form>
            `
            attention.custom({ 
                msg: html, 
                title: "Choose Your Dates",

                willOpen:() =>{
                    const elem = document.getElementById('reservation-dates-modal');
                    const rangepicker = new DateRangePicker(elem, {
                        format: "dd-mm-yyyy",
                        showOnFocus: true,
                    });
                },   
                         
                callback: function(result){
                    
                    let form = document.getElementById("check-availability-form");
                    let formData = new FormData(form);
                    formData.append("csrf_token", "{{.CSRFToken}}");

                    fetch('/search-availability-json',{
                        method:"post",
                        body: formData,
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log(data);
                    })
                }
            });
        })
    </script>
{{end}}