{{template "base" .}}

{{define "title"}}
    Make Reservation
{{end}}

{{define "content"}}
    <section Main class="d-flex flex-column vh-100">
        <div class="container flex-grow-1 d-flex flex-column">
            <div class="row">
                <div class="col">
                    <h1>Make Reservation</h1>
                    <form method="post" action="/make-reservation" class="" novalidate>
                        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

                        <div class="form-group mt-5">
                            <label for="first_name">First Name:</label>
                            {{with .Form.Errors.Get "first_name"}}
                                <labelç class="text-danger">{{.}}</label>
                            {{end}}
                            <!-- sintaxe seens a broken string in VSCODE but it works -->
                            <input class="form-control {{with .Form.Errors.Get "first_name"}} is-invalid {{end}}" type="text" name="first_name" id="first_name" required autocomplete="off">
                        </div>

                        <div class="form-group">
                            <label for="last_name">Last Name:</label>
                            <input type="text" name="last_name" id="last_name" class="form-control" required autocomplete="off">
                        </div>

                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" name="email" id="email" class="form-control" required autocomplete="off">
                        </div>

                        <div class="form-group">
                            <label for="phone">Phone:</label>
                            <input type="text" name="phone" id="phone" class="form-control" required autocomplete="off">
                        </div>

                        <hr>

                        <input type="submit" class="btn btn-primary" value="Make Reservation">
                    
                    </form>
                </div>
            </div>
        </div>

        <div class="spacer flex-grow-1">
            <!-- Occupy all the space left -->
        </div>
        
    </section>
{{end}}

{{define "js"}}
    <script>
        (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }

            form.classList.add('was-validated')
            }, false)
        })
        })()
    </script>
{{end}}